@model Reservation

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Dodaj rezerwacje</h1>
<form asp-controller="Reservation" asp-action="CreateApi" method="post">

    <label asp-for="data"></label>
    <input class="form-control" asp-for="data" />
    <span class="text-danger" asp-validation-for="data"></span>

    <label asp-for="miasto"></label>
    <input class="form-control" asp-for="miasto" />
    <span class="text-danger" asp-validation-for="miasto"></span>

    <label asp-for="adres"></label>
    <input class="form-control" asp-for="adres" />
    <span class="text-danger" asp-validation-for="adres"></span>

    <label asp-for="pokoj"></label>
    <input class="form-control" asp-for="pokoj" />
    <span class="text-danger" asp-validation-for="pokoj"></span>

    <label asp-for="wlasciciel"></label>
    <input class="form-control" asp-for="wlasciciel" />
    <span class="text-danger" asp-validation-for="wlasciciel"></span>

    <label asp-for="cena"></label>
    <input class="form-control" asp-for="cena" />
    <span class="text-danger" asp-validation-for="cena"></span>

    <div class="form-group">
        <label for="filter">Filtr rezerwacji</label>
        <input class="form-control mb-3" type="text" name="filter" id="filter" />
        <label asp-for="Id"></label>
        <select class="form-control mb-3" asp-for="Id"></select>
    </div>


    <br />
    <button type="submit" class="btn-sec">Dodaj</button>

    <a asp-controller="Reservation" asp-action="Index" method="post">
        <button type="button" class="btn-sec">Powrót</button>
    </a>
</form>

@section Scripts{
    <script>
        let select = document.getElementById("Id");
        let filter = document.getElementById("filter");
        filter.onchange = function (e) {
            if (filter.value.length == 0) {
                return;
            }
            fetch(`/api/reservations?filter=${filter.value}`)
                .then(response => {
                    if (response.ok) {
                        return response.json()
                    }
                    throw "No OK, actual status " + response.status;
                })
                .then(json => {
                    select.innerHTML = '';
                    for (let item of json) {
                        let option = document.createElement('option');
                        option.setAttribute('value', item.Id);
                        option.innerText = item.miasto;
                        select.appendChild(option);
                    }
                })
                .catch(e => {
                    console.log('Cant get data from api', e);
                });
        };
    </script>
}